@media all and (max-width:1280px){

}


@media all and (max-width:1024px){
    
}


@media all and (max-width:1200px){

}


@media all and (max-width:900px){
   





}


@media all and (max-width:768px){
    
}



@media all and (max-width:480px){
    header {
        padding: 12px 0px;
    }
    section.mainsection section.wrapper .mainimg img {
        display: block;
        height: 14vh;
    }
    header section.wrapper section.left div.logo h2.img a img {
        display: block;
        height: 2vh;
        margin-right: 6px;
    }
    header section.wrapper section.left div.logo h1 {
        font-size: 11px;
    }
    header section.wrapper section.left nav {
        font-weight: 600;
        margin-right: 6px;
        font-size: 9px;
    }
    header section.wrapper section.left div.logo {
        display: flex;
        align-items: center;
        margin-right: 2vh;
    }
    header section.wrapper section.left nav select, header section.wrapper section.left nav option {
        font-weight: 600;
        font-size: 9px;
        border: none;
        background: none;
    }
    header section.wrapper section.right button.hireme {
        border: none;
        background: #078D84;
        padding: 5px 16px;
        font-weight: 600;
        color: #fff;
        border-radius: 6px;
        font-size: 9px;
        margin-left: 9vw;
    }
    header section.wrapper section.left nav.cart{
        display: flex;
        align-items: center;
        display: none;
    }
    section.mainsection section.wrapper h3 {
        font-family: 'Inter medium';
        font-size: 17px;
        max-width: 68%;
        margin: 14px 0px;
        line-height: 1.3em;
        position: sticky;
        z-index: 2;
    }
    section.mainsection section.wrapper h4 {
        padding-top: 6vh;
        font-weight: 600;
        font-size: 12px;
    }
    section.mainsection section.wrapper h5 {
        font-size: 6px;
        font-weight: 600;
        margin-bottom: 2vh;
    }
    section.mainsection section.wrapper .mainimg {
        position: absolute;
        top: 5vh;
        right: -3vw;
    }
    section.mainsection section.wrapper div.mainsectionbtns button.one.hireme {
        border: none;
        background: #078D84;
        padding: 6px 16px;
        font-weight: 600;
        color: #fff;
        border-radius: 6px;
        margin-right: 17px;
        font-size: 10px;
    }
    section.mainsection section.wrapper div.mainsectionbtns button.two {
        border: 2px solid #078c83;
        color: #078D84;
        padding: 5px 16px;
        font-weight: 600;
        background: #fff;
        border-radius: 6px;
        margin-right: 17px;
        font-weight: 700;
        font-family: 'Inter Light';
        font-size: 10px;
    }
    section.mainsection {
        background: #F6F8FF;
        height: auto;
        position: relative;
    }
        section.companies {
            background: #31315b;
            height: 5vh;
            margin-top: 0vh;
        }
        section.companies section.wrapper section.right ul li a img {
            display: block;
            height: 2vh;
        }
        section.companies section.wrapper section.right ul li:nth-child(2) a img {
            display: block;
            height: 4vh;
        }
        section.companies section.wrapper section.right ul li:nth-child(1) a img {
            display: block;
            height: 4vh;
        }
        section.companies section.wrapper section.right ul li:nth-child(5) a img {
            height: 1vh !important;
        }
        header section.wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        section.companies section.wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 10px 0px;
        }
        section.companies section.wrapper section.right ul li a img{
            display: block;
            height: 2vh !important;
        }
        section.companies section.wrapper section.left h3 {
            color: #fff;
            max-width: 100%;
            font-size: 9px;
        }
        section.services section.wrapper section.top {
            padding-top: 2vh;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2vh;
        } 
        section.services section.wrapper section.top section.left h3 {
            font-size: 15px;
            margin-top: 6px;
            font-family: 'Inter medium';
            color: #1c1c57;
            max-width: 100%;
            line-height: 1.4em;
        }
        section.services section.wrapper section.top section.left h5 {
            font-size: 12px;
            font-weight: 600;
        }  
        section.services section.wrapper section.top section.right h6 {
            font-size: 6px;
            line-height: 1.3em;
            font-weight: 600;
            display: none;
        }
        section.services section.wrapper section.middle ul li {
            box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
            padding: 16px;
            border-radius: 8px;
            width: 48.33%;
            margin-bottom: 20px;
        }
        section.services section.wrapper section.middle ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        section.services section.wrapper section.middle ul li section.liwrap div.img img {
            display: block;
            height: 6vh;
            box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
            padding: 12px;
            border-radius: 6px;
            margin-bottom: 12px;
        }
        section.services section.wrapper section.middle ul li section.liwrap div.img h2 {
            font-family: 'Inter medium';
            font-size: 13px;
            margin-bottom: 16px;
        }
        section.services section.wrapper section.middle ul li section.liwrap div.img h4 {
            font-size: 10px;
            line-height: 1.4em;
        }
        section.services section.wrapper section.bottom button.one{
                border: none;
                background: #078D84;
                padding: 5px 16px;
                font-weight: 600;
                color: #fff;
                border-radius: 5px;
                margin-right: 30px;
                font-size: 12px;
            }
        section.services section.wrapper section.bottom button.two {
            border: 2px solid #078c83;
            color: #078D84;
            padding: 5px 8px;
            font-weight: 600;
            background: transparent;
            border-radius: 6px;
            margin-right: 17px;
            font-weight: 700;
            font-family: 'Inter Light';
            font-size: 11px;
        }
    section.services section.wrapper section.middle {
        margin-bottom: 0vh;
    }
    section.aboutsection section.wrapper section.left div.imageare img.img-one {
        border-radius: 10px;
        z-index: 10;
        position: relative;
        display: block;
        height: 17vh;
    }
    section.aboutsection section.wrapper section.left div.imageare img.img-two {
        position: absolute;
        left: -16px;
        bottom: -2vh;
        height: 6vh;
    }
    section.aboutsection section.wrapper section.left div.imageare img.img-three {
        position: absolute;
        left: 95px;
        bottom: 13vh;
        height: 6vh;
    }
    section.aboutsection section.wrapper section.right h5{
    margin-bottom: 1vh;
    font-size: 11px;
    font-weight: 700;
    }
    section.aboutsection section.wrapper {
        display: flex;  
        justify-content: space-between;
        padding: 4vh 0px;
    }
    section.aboutsection section.wrapper section.right h3 {
        font-family: 'Inter medium';
        font-size: 16px;
        max-width: 58%;
        line-height: 1.2em;
        margin-bottom: 10px;
        color: #1c1c57;
    }
    section.aboutsection section.wrapper section.right h6{
    color: #1c1c57;
    font-size: 8px;
    line-height: 1.2em;
    margin-bottom: 20px;
    font-family: 'Inter Light';
    max-width: 58%; 
}
section.aboutsection section.wrapper section.right ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    position: relative;
    left: -40vw;
    top: 5vh;
}
section.aboutsection section.wrapper section.right ul li
 {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    padding: 12px;
    border-radius: 6px;
    width: 27vw;
    margin-right: 3vw;
}
section.aboutsection section.wrapper section.right ul li h2 {
    font-family: 'Inter SemiBold';
    font-size: 26px;
    color: #1c1c57;
}
section.aboutsection section.wrapper section.right ul li h4 {
    font-size: 10px;
    margin-top: 6px;
}
section.aboutsection section.wrapper section.right button.aboutbtn
 {
    border: none;
    background: #078D84;
    padding: 8px 16px;
    font-weight: 600;
    color: #fff;
    border-radius: 6px;
    margin: 32px;
    position: relative;
    top: 2.5vh;
    left: -48vw;
    font-size: 12px;
}
section.experience section.wrapper section.left h6 {
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 12px;
} 
section.experience section.wrapper section.left h3 {
    font-family: 'Inter Bold';
    font-size: 16px;
    color: #1c1c57;
    max-width: 100%;
    line-height: 1.3em;
    margin-bottom: 1vh;
}
section.experience section.wrapper section.right img.ex-one
 {
    position: relative;
    right: 3vw;
    height: 21vh;
    z-index: 7;
    border-radius: 6px;
}
section.experience section.wrapper section.right img.ex-two {
    display: block;
    height: 7vh;
    position: absolute;
    top: -22px;
    right: -1vw;
    z-index: 5;
    transform: rotate(18deg);
}
section.experience section.wrapper section.left h5 {
    max-width: 97%;
    font-size: 9px;
    margin-bottom: 22px;
    line-height: 1.4em;
}
section.experience section.wrapper section.right img.ex-three {
    display: block;
    height: 7vh;
    position: absolute;
    top: 126px;
    right: 23vw;
    z-index: 5;
    transform: rotate(206deg);
}
section.experience section.wrapper section.left ul li div.top img {
    display: block;
    height: 64px;
}
section.experience section.wrapper section.left ul
 {
    display: flex
;
    align-items: center;
    flex-wrap: wrap;
    width: 95vw;
    margin-top: 12vh;
}
section.experience section.wrapper section.left ul li:nth-child(2) div.top img {
    display: block;
    height: 23px;
}
section.experience section.wrapper section.left ul li div.top h4
 {
    font-family: 'Inter Bold';
    font-size: 11px;
    color: #1c1c57;
    max-width: 100%;
    margin-left: 8px;
}
section.experience section.wrapper section.left ul li {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    padding: 12px;
    border-radius: 8px;
    width: 47.1%;
    margin-bottom: 24px;
    margin-right: 2vw;
}
section.experience section.wrapper section.left ul li h3 {
    line-height: normal;
    font-size: 13px;
    margin: 9px 0px;
}
section.experience section.wrapper section.left ul li:nth-child(4) div.top img
 {
    display: block;
    height: 23px;
}
section.projects section.wrapper section.top
 {
    padding-top: 2vh
;
    display: flex
;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section.projects section.wrapper section.top h6 {
    font-size: 12px;
    margin-bottom: 12px;
}
section.projects section.wrapper section.top h2 {
    font-family: 'Inter Bold';
    font-size: 21px;
    color: #1c1c57;
    max-width: 100%;
}
section.projects section.wrapper section.top h4 {
    margin-top: 0.4vh;
    font-size: 10px;
    color: #1c1c57;
}
section.projects section.wrapper section.bottom {
    margin-top: 2vh
;
}
section.projects section.wrapper section.bottom ul {
    display: flex
;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
section.projects section.wrapper section.bottom ul li {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 8px;
    height: fit-content;
    width: 48.9%;
    margin-bottom: 4vh;
    margin-right: 0px;
    position: relative;
    min-height: 29vh;
}
section.projects section.wrapper section.bottom ul li div.img img
 {
    height: 14vh;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}
section.projects section.wrapper section.bottom ul li h3
 {
    padding: 0px 8px;
    font-family: 'Inter Bold';
    font-size: 8.6px;
    color: #1c1c57;
    max-width: 100%;
    margin: 8px 0px 6px 0px;
}
section.projects section.wrapper section.bottom ul li h6 {
    padding: 0px 16px;
    line-height: 1.3em;
    font-family: 'Inter Light';
    font-size: 6px;
    font-weight: 600;
}
section.projects section.wrapper section.bottom ul li a.viewproject h4 {
    color: #255BF9;
    font-size: 8px;
}
section.projects section.wrapper section.bottom ul li a.viewproject img {
    display: block;
    height: 14px;
}
div.spanmain span h5 {
    background: #F4F4F4;
    padding: 5px 11px;
    margin-right: 6px;
    font-size: 6px;
    border-radius: 4px;
    font-family: 'Inter Bold';
    color: #1c1c57;
    margin-top: 3px;
}
section.projects section.wrapper section.bottom ul li a.viewproject
 {
    display: flex;
    align-items: center;
    padding: 0px 16px;
    margin-top: 12px;
position: relative;
    bottom: 5px;
}
section.projects section.wrapper section.bottom button.fullportfolio {
    border: none;
    background: #078D84;
    padding: 9px 10px;
    font-weight: 600;
    color: #fff;
    border-radius: 6px;
    margin-right: 30px;
    display: block;
    margin: 0 auto;
    font-size: 9px;
}
section.reviewtopimage img {
    display: block;
    width: 101%;
}
section.reviews section.wrapper {
    width: 100%;
}
section.reviews section.wrapper div.carousel-container button.arrow.prev
 {
    left: 0px;
    z-index: 33;
    height: 28px;
    width: 28px;
}
section.reviews section.wrapper div.carousel-container button.arrow.prev img {
    display: block;
    height: 3vh;
}
section.reviews section.wrapper div.carousel-container button.arrow.next img {
    height: 3vh;
    display: block;
}
section.reviews section.wrapper div.carousel-container button.arrow.next {
    right: 0px;
    width: 28px;
    height: 28px;
}
section.reviews section.wrapper div.carousel-container div.review
 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: transparent;
    color: #fff;
}
section.reviews section.wrapper div.carousel-container div.review p.review-text {
    max-width: 80%;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #fff;
    font-size: 10px;
}
.reviews {
    min-height: 42vh
;
    display: flex
;
    align-items: center;
    justify-content: center;
    background: #efefef;
}
section.reviews section.wrapper div.carousel-container div.review div.stars {
    font-size: 14px;
    margin-bottom: 10px;
    color: #fff;
}
section.reviews section.wrapper div.carousel-container div.review div.reviewer-info h3.reviewer-name {
    margin: 0;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}
section.reviews section.wrapper div.carousel-container div.review div.reviewer-info p.reviewer-title {
    margin: 5px 0;
    font-size: 9px;
    color: #fff;
}
section.faq {
    padding-top: 0vh;
}
section.faq section.wrapper h2 {
    font-family: 'Inter SemiBold';
    font-size: 24px;
    margin-bottom: 6px;
    color: #1c1c57;
}
section.faq section.wrapper h4 {
    color: #1c1c57;
    font-size: 10px;
}
section.faq section.wrapper ul {
    margin: 16px 0px;
    width: 93%;
}
section.faq section.wrapper ul li {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    display: flex
;
    align-items: center;
    justify-content: space-between;
    padding: 5px 29px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 16px;
}
section.faq section.wrapper ul li h3 {
    font-family: 'Inter SemiBold';
    font-size: 11px;
    color: #1c1c57;
}
section.faq section.wrapper section.bottom {
    width: 90%;
    margin-bottom: 56px;
}
section.faq section.wrapper section.bottom section.wrapper section.contactspace h2 {
    font-family: 'Inter Bold';
    font-size: 24px;
    color: #1c1c57;
}
section.faq section.wrapper section.bottom section.wrapper section.contactspace button.contactme {
    border: none;
    background: #078D84;
    padding: 8px 21px;
    font-weight: 600;
    color: #fff;
    border-radius: 6px;
    margin-right: 0px;
    font-size: 11px;
}
section.business section.wrapper {
    display: flex
;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px 0px;
}
section.business section.wrapper h2 {
    color: #fff;
    font-family: 'Inter SemiBold';
    font-size: 20px;
    margin-bottom: 6px;
}
section.business section.wrapper h4 {
    color: #fff;
    font-size: 9px;
    font-family: 'Inter Light';
    margin-bottom: 36px;
}
section.business section.wrapper div.businessbtns button.one {
    border: none;
    background: #fff;
    padding: 8px 20px;
    font-weight: 600;
    color: #1c1c57;
    border-radius: 6px;
    margin-right: 30px;
    font-size: 12px;
}
section.business section.wrapper div.businessbtns button.two {
    border: 2px solid #fff;
    color: #fff;
    padding: 7px 29px;
    font-weight: 600;
    background: transparent;
    border-radius: 6px;
    margin-right: 17px;
    font-weight: 700;
    font-family: 'Inter Light';
    font-size: 12px;
}
section.business {
    background: #1C1C57;
    height: 20vh;
    margin-bottom: 28px;
}
section.blogs section.wrapper h5 {
    display: flex
;
    align-items: center;
    justify-content: center;
    color: #1C1C57;
    font-size: 11px;
}
section.blogs section.wrapper h3 {
    display: flex
;
    align-items: center;
    justify-content: center;
    font-family: 'Inter SemiBold';
    margin: 6px 0px;
    font-size: 24px;
    color: #1C1C57;
}
section.blogs section.wrapper h6 {
    display: flex
;
    align-items: center;
    justify-content: center;
    color: #1C1C57;
    font-size: 10px;
    margin-bottom: 48px;
}
section.blogs section.wrapper ul {
    display: flex
;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
section.blogs section.wrapper ul li {
    width: 100%;
}
section.blogs section.wrapper ul li div.left img {
    display: block;
    height: 13vh;
    border-radius: 6px;
}
section.blogs section.wrapper ul li div.right span.top ul {
    justify-content: flex-start;
    flex-direction: row;
}
section.blogs section.wrapper ul li div.right span.top ul li.category {
    font-size: 10px;
    margin-bottom: 0px;
}
section.blogs section.wrapper ul li div.right span.top ul li.read {
    font-size: 10px;
    margin-bottom: 0px;
}
section.blogs section.wrapper ul li div.right h3 {
    font-size: 13px;
    margin-bottom: 6px;
}
section.blogs section.wrapper ul li div.right h5 {
    margin-bottom: 12px;
    width: 100%;
    font-size: 10px;
}
section.blogs section.wrapper ul li div.right a.readmore {
    color: #255BF9;
    font-family: 'Inter SemiBold';
    font-size: 10px;
    display: flex
;
    align-items: center;
}
section.blogs section.wrapper section.bottom button.articles {
    border: none;
    background: #255BF9;
    padding: 8px 21px;
    font-weight: 600;
    color: #fff;
    border-radius: 6px;
    margin-right: 0px;
    font-size: 11px;
}
footer section.wrapper section.top {
    display: block;
}
footer section.wrapper section.top section.left div.footerlogo h2.img a img {
    display: block;
    height: 3.5vh;
    margin-right: 8px;
}
footer section.wrapper section.top section.left h3 {
    color: #fff;
    font-size: 10px;
    margin-bottom: 1.6vh;
}
footer section.wrapper section.top section.left div.emailarea input {
    width: 64vw;
    padding: 8px 15px;
    font-size: 10px;
}


footer section.wrapper section.top section.left div.emailarea button
 {
    padding: 8px 18px;
    font-size: 10px;
}
footer section.wrapper section.top section.left h5 {
    color: #fff;
    font-size: 7px;
    margin: 8px 0px;
    margin-bottom: 16px;
}
footer section.wrapper section.top section.right {
    display: flex
;
    justify-content: space-between;
    width: 100%;
}

footer section.wrapper section.top section.right ul.one li a h3,footer section.wrapper section.top section.right ul.two li a h3,footer section.wrapper section.top section.right ul.three li a h3,footer section.wrapper section.top section.right ul.four li a h3 {
    color: #fff;
    margin-bottom: 2vh;
    font-size: 13px;
}
footer section.wrapper section.top section.right ul.one li a h4,footer section.wrapper section.top section.right ul.two li a h4,footer section.wrapper section.top section.right ul.three li a h4,footer section.wrapper section.top section.right ul.four li a h4 {
    font-size: 10px;
}
footer section.wrapper section.top section.right ul.four li a img {
    display: block;
    height: 2.5vh
;
    margin-right: 12px;
}
footer section.wrapper section.bottom section.right a.privacy.ptc ,footer section.wrapper section.bottom section.right a.Terms.ptc ,footer section.wrapper section.bottom section.right a.Cookies.ptc{
    font-size: 5px;
}
footer section.wrapper section.bottom section.right {
    display: flex
;
    align-items: center;
    justify-content: space-between;
    width: 38%;
}
footer section.wrapper section.bottom section.left h3 {
    color: #fff;
    font-size: 5px;
}
section.mainsection section.wrapper div.pimg {
    position: absolute;
    right: -3vw;
    top: -6.8vh;
    z-index: 99;
}
section.mainsection section.wrapper div.pimg img
 {
    display: block;
    height: 32vh;
}
section.mainsection section.wrapper div.mainsectionbtns {
    padding-bottom: 2vh;
}
.frem p {
    position: absolute;
    top: 3rem;
    font-size: 4rem
;
    color: #00000063;
}
.frem h2
 {
    position: absolute;
    bottom: 8rem;
    font-size: 19px;
}















}

@media all and (max-width:320px){
    
}



@media all and (max-width:280px){
    header section.wrapper section.left nav:nth-child(5) {
        display: none;
    }
    header section.wrapper section.left div.logo h1 {
        display: none;
    }
    header section.wrapper section.right button.hireme {
        border: none;
        background: #078D84;
        padding: 5px 13px;
        font-weight: 600;
        color: #fff;
        border-radius: 4px;
        font-size: 7px;
        margin-left: 6vw;
    }
    header section.wrapper section.left div.logo {
        display: flex;
        align-items: center;
        margin-right: 4vh;
    }
    section.mainsection section.wrapper h4 {
        padding-top: 6vh;
        font-weight: 600;
        font-size: 10px;
    }
    section.mainsection section.wrapper .mainimg img {
        display: block;
        height: 9vh;
    }
    section.mainsection section.wrapper h3 {
        font-family: 'Inter medium';
        font-size: 15px;
        max-width: 83%;
        margin: 8px 0px;
        line-height: 1.3em;
        position: relative;
        z-index: 2;
    }
    section.mainsection section.wrapper div.mainsectionbtns button.one.hireme {
        border: none;
        background: #078D84;
        padding: 6px 12px;
        font-weight: 600;
        color: #fff;
        border-radius: 6px;
        margin-right: 17px;
        font-size: 9px;
    }
    section.services section.wrapper section.top section.left h3{

        }
}